# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.idea/

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode/launch.json

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

**/.cache/**
